body {
  margin: 0rem;
  font-family: sans-serif;
}

header {
  background-color: black;
  height: 12rem;
  position: sticky;
  top: 0rem;
  z-index: 50;
}

body a {
  text-decoration: none;
}

/*menu-bar*/
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6rem;
  /*border: 3px dotted rgb(253, 0, 211);*/
}

.menu-bar a {
  color: white;
  font-size: 1.15rem;
}

.logo {
  width: 20rem;
}

.logo img {
  width: 7rem;
  height: 5rem;
}

.text-menu {
  list-style: none;
  width: 27rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  padding: 0rem;
  margin: 0rem;
}

.text-menu li {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.text-menu li a:hover {
  color: rgb(150, 150, 150);
}

.menu-r {
  width: 18rem;
  display: flex;
}

.menu-r div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-amfitrio {
  width: 8rem;
  height: 2.5rem;
}
.menu-amfitrio a {
  font-size: 1rem;
}

.logo-translate img {
  width: 1.5rem;
  height: 1.5rem;
}

.logo-translate {
  width: 3rem;
  height: 2.5rem;
}

.menu-amfitrio:hover,
.menu-r .logo-translate:hover {
  background-color: rgba(160, 160, 160, 0.301);
  border-radius: 2rem;
}

.button {
  width: 7.5rem;
}

button {
  width: 5rem;
  height: 2.5rem;
  border-radius: 2rem;
  background-color: white;
  position: relative;
}

.sign-in img {
  width: 1.25rem;
  height: 1.75rem;
  position: absolute;
  top: 0.25rem;
  left: 0.75rem;
}
.profile img {
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
}

/*searcher*/
.searcher {
  display: flex;
  justify-content: center;
  /*border: 3px dotted rgb(59, 253, 0);*/
}

.searcher form {
  background-color: white;
  border-radius: 3rem;
  width: 60rem;
  height: 4rem;
  display: flex;
  position: relative;
}

.searcher div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4rem;
  width: 16.5rem;
  position: relative;
}

.searcher .Arribada,
.searcher .Sortida {
  width: 13rem;
}

.searcher label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 2rem;
  border-right: 1px solid rgba(238, 213, 213, 0.425);
  width: 14.5rem;
  height: 2rem;
}

.searcher .Arribada label,
.searcher .Sortida label {
  width: 11.5rem;
  left: 1.5rem;
}

.searcher .Hostes label {
  border-right: none;
  left: 1.5rem;
}

.searcher input {
  border: 0rem;
  color: rgb(117, 117, 117);
  width: 10rem;
  background: transparent;
  margin: 0.15rem 0rem;
  padding: 0rem;
}

.searcher form div:hover {
  background-color: rgba(238, 213, 213, 0.425);
  border-radius: 2rem;
}

.searcher img {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0.75rem;
  right: 0.55rem;
}

/*article1*/
article h1 {
  font-size: 2.75rem;
}

.article1 {
  background-color: black;
  color: white;
  padding: 2rem 0rem;
}

.img-burbuja {
  display: flex;
  justify-content: center;
  padding: 0rem 9rem;
  position: relative;
}

.img-burbuja img {
  border-radius: 1rem;
  width: 100%;
}

.article1 h1 {
  position: absolute;
  bottom: 7rem;
}

.flexible {
  position: absolute;
  bottom: 5rem;
}

.flexible a {
  font-size: 1.25rem;
  background: white;
  border-radius: 2rem;
  width: 10rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexible b {
  background: linear-gradient(to right, rgb(97, 61, 194), rgb(219, 48, 139));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/*Idees*/
.Idees {
  padding: 4rem 9rem 0rem 9rem;
}

.destinacions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.destinacions a {
  color: white;
  width: 24%;
  border-radius: 1rem;
}

.Barcelona {
  background: rgb(191, 69, 110);
}

.Puigcerda {
  background: rgb(223, 70, 81);
}

.Vielha {
  background: rgb(217, 62, 48);
}

.Deltebre {
  background: rgb(205, 63, 73);
}

.destinacions a img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.destinacions .lloc {
  font-size: 2.7vw;
  margin: 0.5rem 1rem;
}

.destinacions .km {
  font-size: 1.25vw;
  margin: 0.5rem 1rem 8rem 1rem;
}

/*Descobreix experiencies*/
.Descobreix {
  padding: 4rem 9rem 0rem 9rem;
}

.descobreix-experiencies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.descobreix-experiencies div {
  width: 49%;
}

.Descobreix img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.experiencies-viatge,
.experiencies-casa {
  position: relative;
}

.descobreix-experiencies div .text {
  color: white;
  font-weight: bold;
  font-size: 3vw;
  position: absolute;
  top: 1.5rem;
  left: 5rem;
  margin: 0;
}

.descobreix-experiencies div .button {
  font-size: 1.2rem;
  color: black;
  background: rgb(255, 255, 255);
  margin: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.descobreix-experiencies div .titol1 {
  height: 12%;
  width: 17vw;
  margin-bottom: 2rem;
}

.descobreix-experiencies div .titol2 {
  height: 18%;
  width: 18vw;
  margin-bottom: 2rem;
}

.descobreix-experiencies div .exp {
  width: 9rem;
  height: 3.5rem;
}

.descobreix-experiencies div .casa {
  width: 12rem;
  height: 3.5rem;
}

.descobreix-experiencies div .button:hover {
  background-color: rgb(241, 234, 234);
}

/*Targetes*/
.Targetes {
  padding: 4rem 9rem 0rem 9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.targetes-titol {
  width: 18rem;
  margin: 4rem 3rem 0rem 0rem;
}

.Targetes .button {
  background-color: rgb(41, 41, 41);
  color: white;
  border-radius: 0.5rem;
  height: 3rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Targetes .imagen img {
  width: 60vw;
}

.Targetes div .button:hover {
  background-color: rgb(0, 0, 0);
}

/*Amfitrio*/
.Amfitrio {
  padding: 4rem 9rem 0rem 9rem;
  position: relative;
}

.Amfitrio img {
  width: 100%;
  border-radius: 1rem;
}

.Amfitrio .titol {
  font-size: 5vw;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px black;
  width: 27vw;
  position: absolute;
  top: 9rem;
  margin-left: 5rem;
}

.Amfitrio .button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  height: 3rem;
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  position: absolute;
  bottom: 5rem;
}

/*Footer*/
footer {
  padding: 0rem 9rem;
}

footer .columnas-final {
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-content: space-between;
  padding: 5rem 0rem;
  margin-right: 12rem;
}

footer a {
  color: rgb(61, 61, 61);
}

footer .columnas-final a:hover {
  text-decoration: underline;
}

footer section ul {
  padding: 0rem;
  margin: 0rem;
}

footer section li {
  list-style: none;
  margin-top: 1rem;
}

/*peu de pagina*/
footer .peu-web {
  border-top: 1px rgba(151, 151, 151, 0.418) solid;
  display: flex;
  flex-direction: row;
}
footer .peu-web .peu-left a:hover {
  text-decoration: underline;
}

.peu-web .peu-left {
  display: flex;
  flex-direction: row;
  width: 100rem;
}

.peu-web .peu-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 40rem;
}

.peu-left p {
  margin: 2rem 0.5rem;
}

.peu-left span {
  display: flex;
  align-items: center;
}

.peu-right .idioma,
.peu-right .xarxes-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.idioma .logo-translate,
.idioma .euros {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 6rem;
}

.idioma .logo-translate a {
  display: flex;
  align-items: center;
}

.idioma a {
  display: flex;
  flex-direction: row;
}

.idioma a .underline {
  text-decoration: underline;
  margin-left: 0.5rem;
}

.xarxes-socials .facebook {
  margin: 0.8rem;
  width: 2rem;
}

.xarxes-socials .twitter {
  width: 3.7rem;
}

.xarxes-socials .instagram {
  margin: 0.5rem;
  width: 2.7rem;
}
